<h1>My Todos</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class ="container-fluid">
   <table class="table" >
  <thead>
    <tr>
      <!-- <th>id</th> -->
      <th>Description</th>
      <th>Date</th>
      <th>Status</th>
      <th>Delete</th>
      <th>Update</th>
   
    </tr>
  </thead>
  <tbody>
    <!-- for (Todo todo: todos)  todos is mentioned in component.ts-->
    <tr *ngFor="let todo of todos">
      <!-- <td>{{todo.id}}</td> -->
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate |date}}</td>
      <td>{{todo.done}}</td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Delete</button></td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button></td>
    </tr>
  </tbody>
</table>
</div>