<h2>Todos</h2>
<div class="container-fluid">
  <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Please enter the VALID Details</div>
  <div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Please enter characters more than 5 </div>
  <div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid" >invalid date</div>
  <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
<fieldset class="form-control">
  <label>Description</label>
  <input type="text" #description="ngModel" 
  class="form-control" [(ngModel)]="todo.description"
   name="description" minlength="5" required="required">
</fieldset>
<fieldset class="form-control">
    <label>Target Date</label> 
   <input type="date" #targetDate="ngModel" 
  [ngModel]="todo.targetDate |date:'yyyy-MM-dd' "
  (ngModelChange)="todo.targetDate = $event"
  class="date" class="form-control" name="targetDate" required="required">
</fieldset> <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-success">Save</button>
</form>
</div>
